*bak
configstore
containers
iterm2
nvim-*
**/.DS_Store
.envrc
envrc
.envrc.*
envrc.*
devbox.json
devbox.lock
*.swo
*.swp
.undo
.backup
.swap
fontconfig
fish/fish_variables
glab-cli/config.yml
jj/repos
