layout {
    cwd "/Users/mgj"
    tab name=".config" hide_floating_panes=true {
        pane size=1 {
            plugin location="file:/Users/mgj/.config/zellij/zj-status-bar.wasm"
        }
        pane cwd=".config" size="66%"
        pane size="34%" split_direction="vertical" {
            pane cwd=".config" size="50%"
            pane cwd=".config" size="50%"
        }
    }
    tab name="hh" focus=true hide_floating_panes=true {
        pane size=1 {
            plugin location="file:/Users/mgj/.config/zellij/zj-status-bar.wasm"
        }
        pane cwd=".dev/hh" size="66%"
        pane size="34%" split_direction="vertical" {
            pane cwd=".dev/hh" focus=true size="50%"
            pane cwd=".dev/hh" size="50%"
        }
    }
    tab name="dev" focus=true hide_floating_panes=true {
        pane size=1 {
            plugin location="file:/Users/mgj/.config/zellij/zj-status-bar.wasm"
        }
        pane cwd=".dev" size="66%"
        pane size="34%" split_direction="vertical" {
            pane cwd=".dev" focus=true size="50%"
            pane cwd=".dev" size="50%"
        }
    }
    new_tab_template {
        pane size=1 {
            plugin location="file:/Users/mgj/.config/zellij/zj-status-bar.wasm"
        }
        pane {
            pane size="66%"
            pane split_direction="vertical" {
                pane
                pane
            }
        }
    }
}
